$backgroundColor: #387c84a1;
$color1: #1db2b4;
$color2: #ec277f;
$color3: #5e6262;
$color4: #2b454c;
$color5: #387c84;
$color6: #2d2a2a;

@mixin backgrondBlur {
  background-color: $backgroundColor;
  backdrop-filter: blur(3px);
}
