$backgroundColor: #387c84a1;
$color1: #1db2b4;
$color2: #e44e92;
$color3: #5e6262;
$color4: #2b454c;
$color5: #387c84;
$color6: #2d2a2a;
$color7: #ec277f;

@mixin backgrondBlur {
  background-color: $backgroundColor;
  backdrop-filter: blur(3px);
}
